<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop.xsd">

    <!--扫描mvc有关的注解-->
    <context:component-scan base-package="com.dingyun"/>
    <!--面向切面编程-->
    <aop:aspectj-autoproxy />

    <!--扫描mvc注解配置文件-->
    <context:annotation-config/>

    <!--这个加上是扫描驱动，如果不加controllor将不能找到里面的mapping-->
    <mvc:annotation-driven/>
<!--支持静态资源的访问-->
    <mvc:default-servlet-handler />

    <mvc:resources mapping="/z" location="z/"></mvc:resources>


    <bean id="internalResourceViewResolver" class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="prefix" value="/WEB-INF/pages/" />
        <property name="suffix" value=".jsp"/>
    </bean>

    <!--上传文件的mvc配置  ，在这里配置文件大小，速度，编码三个必须的属性-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--上传的速度最大大小-->
         <property name="maxUploadSize" value="6666666666"/>
        <!--上传的文件大小-->
        <property name="maxInMemorySize" value="10000"/>
        <!--文字编码-->
        <property name="defaultEncoding" value="UTF-8"/>

    </bean>
<!--拦截器    注意拦截器的*号要写两个   被坑了15分钟-->
    <mvc:interceptors>
        <mvc:interceptor>
            <mvc:mapping path="/AdminController/**" />
            <mvc:exclude-mapping path="/AdminController/user**"/>
            <mvc:exclude-mapping path="/AdminController/video**"/>

            <!--不使用-->
            <!--<mvc:exclude-mapping path="/WEB-INF/pages/log
            in.jsp"/>-->
            <!--<mvc:exclude-mapping path="login"/>-->
            <bean class="com.dingyun.fifter.AdminFifter"/>
        </mvc:interceptor>
        <mvc:interceptor>
            <mvc:mapping path="/AdminController/user**"/>
            <mvc:mapping path="/AdminController/video**"/>
            <bean class="com.dingyun.fifter.UserFifter"/>
        </mvc:interceptor>
    </mvc:interceptors>

</beans>